body {
  background-color: #FFE4C4 ;
  color: black;
  font-family: "Georgia", sans-serif;
}
h1{
  color: Black;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid black;
  text-align: center;
}
.basketball{
  color:Orange;
  font.weight: bold;
  margin: 20px, 0px, 20px, 0px;
}

h2, h3{
  text-align: center;
}
ul{
  margin: 20px auto;
  text-align:center;
}

.subtext{
  font-style: italic;
  text-align: center;
}
img {
  width: 250px;
  display: block;
  margin: 0 auto;
}
